# Python environment
.venv/
__pycache__/
*.py[cod]

# Local Databases (Crucial!)
# Мы не копируем БД внутрь образа, она должна быть общей
data/
*.db
*.sqlite

# IDE & System
.idea/
.vscode/
.DS_Store

# Documentation & Git
.git/
README.md
LICENSE
